/.idea/
/terraform/.terraform/
/terraform/azure_rsa
/terraform/azure_rsa.pub
/terraform/.terraform.tfstate.lock.info
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/rook/kubeconf
/epiphany/azure/shared/azure_rsa
/epiphany/azure/shared/azure_rsa.pub
/epiphany/azure/shared/build/
/epiphany/azure/shared/.terraform/
/epiphany/azure/shared/*.dump
/rook/kubeconf.bckp
/service-principal.mk
/tests/kubeconf
/run/
